<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="total">
        <div id="detail-component">
            <div class="background-overlay">
                <div class="card-group">
                    <div class=" card ">
                        <img src="https://scontent.fclo2-1.fna.fbcdn.net/v/t1.0-1/26805199_929723380486194_5718660583012253815_n.jpg?_nc_cat=110&_nc_oc=AQlI0B20NSuNKt6OUI9ffQUjrdNNGoJpwVGk4dSfWjejcfZoiCHUZ0B_KPHEyQx0Ztk&_nc_ht=scontent.fclo2-1.fna&oh=2e7172ff3f8d3d45063677411eda0016&oe=5DA7FE45 "
                            alt="John " style="width:100% ">
                        <h1>Jeisson Santacruz</h1>
                        <p class="title ">Ingenieria en Sistemas</p>
                        <p>Javeriana Cali</p>
                        <a href="# "><i class="fa fa-dribbble "></i></a>
                        <a href="# "><i class="fa fa-twitter "></i></a>
                        <a href="# "><i class="fa fa-linkedin "></i></a>
                        <a href="# "><i class="fa fa-facebook "></i></a>
                        <p><button>Contact</button></p>
                    </div>
                    <div class="card ">
                        <img src="https://scontent.fclo2-1.fna.fbcdn.net/v/t1.0-9/49788121_1028374713998095_1519862130029887488_n.jpg?_nc_cat=103&_nc_oc=AQk_ZofEZunzXTJZLCHS5LKSvjnImd7QbGwLl6FGB8msj16SjJVFzfxcih72uiBm7mo&_nc_ht=scontent.fclo2-1.fna&oh=ce6eb00c0828ed438f250d358562191c&oe=5DB9F88F "
                            alt="John " style="width:100% ">
                        <h1>Bryan David Vera</h1>
                        <p class="title ">Ingenieria en Sistemas, </p>
                        <p>Javeriana Cali</p>
                        <a href="# "><i class="fa fa-dribbble "></i></a>
                        <a href="# "><i class="fa fa-twitter "></i></a>
                        <a href="# "><i class="fa fa-linkedin "></i></a>
                        <a href="# "><i class="fa fa-facebook "></i></a>
                        <p><button>Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>