<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="total">
        <div id="detail-component">
            <div class="background-overlay">
                <div class="card-group">
                    <div class=" card ">
                        <img src="https://i.stack.imgur.com/aP9Cm.png " alt="John " style="width:100% ">
                        <h1>Jeisson Santacruz</h1>
                        <p class="title ">Ingenieria en Sistemas</p>
                        <p>Javeriana Cali</p>
                        <a href="# "><i class="fa fa-dribbble "></i></a>
                        <a href="# "><i class="fa fa-twitter "></i></a>
                        <a href="# "><i class="fa fa-linkedin "></i></a>
                        <a href="# "><i class="fa fa-facebook "></i></a>
                        <p><button>Contact</button></p>
                    </div>
                    <div class="card ">
                        <img src="https://i.stack.imgur.com/aP9Cm.png " alt="John " style="width:100% ">
                        <h1>Bryan David Vera</h1>
                        <p class="title ">Ingenieria en Sistemas, </p>
                        <p>Javeriana Cali</p>
                        <a href="# "><i class="fa fa-dribbble "></i></a>
                        <a href="# "><i class="fa fa-twitter "></i></a>
                        <a href="# "><i class="fa fa-linkedin "></i></a>
                        <a href="# "><i class="fa fa-facebook "></i></a>
                        <p><button>Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>