.card {
    display: inline-block;
    animation-name: appear;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

img {
    position: relative;
    cursor: pointer;
    transition: .5s all ease 0s;
}

.card-body {
    filter: opacity(.8);
    position: absolute;
    bottom: 0px;
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#detail-component {
    margin: auto;
    width: 960px;
    height: auto;
    background-color: #071019;
}

body {
    width: auto;
    height: auto;
    background-color: black;
}